.botao {
  width: 35px;
  height: 30px;
  border: none;            
  border-radius: 10%;
  cursor: pointer;                        
  color: #FFFFFF;            
  margin: 0 0 0 5px;
  padding: 0;
  font-size: 12px;
  float: right;
}

.botao:disabled {
  opacity: .65;
  cursor: not-allowed;
}

.botao.botao-adicionar {
  background-color: #28a745;
  transition: .3s;                      
}

.botao.botao-adicionar:not([disabled]):hover {
  background-color: #218838;
}

.botao.botao-adicionar:not([disabled]):focus {  
  outline: 0;                          
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);           
} 

.botao.botao-remover {
  background-color: #dc3545;
  transition: .3s;          
}

.botao.botao-remover:not([disabled]):hover {
  background-color: #bd2130;                    
  transition: .3s;   
}       

.botao.botao-remover:not([disabled]):focus {  
  outline: 0;                          
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}                                     

.accordion__header {
 display: flex; 
  width: 100%;
  position: relative;
}  